<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    <% if (isLoggedIn()) { %>
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
    <p>logged in as <%= currentUser.email %></p>
    <% } %>


    <div><%= email %></div>
    <a href="/dishes/new">share a dish</a>
    <h1>goodfoodhunting</h1>

    <% for (let dish of dishes) { %>

    <h2><a href="/dishes/<%= dish.id %>"><%= dish.title %></a></h2>
    <img src="<%= dish.image_url %>" alt="" />

    <% } %>

    <!-- <script src="/client.js"></script> -->
  </body>
</html>